<a href="https://colab.research.google.com/github/hsym-uec/myWeb_github/blob/main/Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Nintendo Stock data from Stooq.com 
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-18'
df = data.DataReader('7974.JP', 'stooq', start, end)

In [3]:
df

            Open  High   Low  Close    Volume
Date
2023-04-18  5500  5560  5485   5560   5630300
2023-04-17  5499  5499  5423   5457   3467500
2023-04-14  5393  5480  5379   5467   5924400
2023-04-13  5431  5435  5376   5379   4182700
2023-04-12  5413  5488  5396   5466   5148200
2023-04-11  5505  5543  5407   5413   9397600
2023-04-10  5291  5410  5271   5406   7136300
2023-04-07  5325  5326  5187   5198   4302700
2023-04-06  5235  5297  5230   5250   4175400
2023-04-05  5363  5367  5241   5245   6830300
2023-04-04  5210  5414  5194   5412  10423400
2023-04-03  5209  5218  5150   5173   4140400